nav img {
	width: 80px;
}


.header {
	background-color: #2A5184;
	color: #fff;
}

.header img {
	width: 100%
}

h1 {
	font-weight: bold;
}

.form h1 {
	color: #2A5184;
}

label {
	font-size: 15px;
	font-weight: bold;
}

h3 {
	font-family: monospace;
	font-size: 30px;
	color: #2A5184;
}

.upload input {
	display: none;
}

.upload label {
	margin: 10px auto;
	border-radius: 20px;
	font-weight: bold;
	font-size: 15px;
}

.kirim {
	margin: 0 auto;
}

.kirim button {
	border-radius: 40px;
}

.warning {
  font-weight: bold;
  color: red;
  border: 1px solid red;
  padding: 10px 0;
  font-size: 16px;
  font-family: monospace;
}

.errorval {
	color: red;
	font-size: 15px;
}

.errorRegis {
	color: red;
	font-size: 15px;
}

.hidden {
  opacity:0;
}
.console-container {
  font-family:monospace;
  font-size:4em;
  text-align:center;
  width:100%;
  display:block;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.logo {
  position: absolute;
}

.logo h1 {
  position: relative;
  display: block;
  -webkit-animation: fadeIn 1.5s linear;
          animation: fadeIn 1.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.syarat ul {
  position: absolute;
}

.syarat li:hover {
  margin: 5px 30px;
  cursor: pointer;
}

.syarat li {
  margin: 5px 0;
  position: relative;
  display: block;
  font-weight: bold;
  -webkit-animation: fadeIn 1.5s linear;
          animation: fadeIn 1.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.syarat h4 {
  font-family: monospace;
  font-size: 25px;
}

.syarat li:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.syarat li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.syarat li:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.syarat li:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.syarat li:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.syarat li:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.syarat li:nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.syarat li:nth-child(8) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.syarat li:nth-child(9) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.syarat li:nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

.header {
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }